
<h1>About Mark Weinberg</h1>

<p>Mark Weinberg is a student at the Iron Yard Academy who is learning the computer programming language Ruby on Rails so he can become an entry level software developer.  Mr. Weinberg on his own time keeps current on news articles about entrepreneurship and new technology apps in current publications such as The Wall Street Journal, The New York Times, Entrepreneur, Inc., BusinessWeek, Fast Company and Bloomberg Markets.  In addition to this, Mr. Weinberg likes to sing karaoke and have fun bowling.</p>

<img style="width: 300px"; src="https://avatars3.githubusercontent.com/u/10505804?v=3&s=460"/>


<!-- <a href="/posts/index" class="btn btn-warning">Index Page</a> -->

<%=link_to "Index", posts_index_path, class: "btn btn-warning"%>
